.footer__section{
    background: $blue2;
}
.footer__container{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 12vh;
    gap: 0px 0px;
    grid-template-areas:
      "footer-fb footer-insta footer-toTop"
      "footer-youtube footer-twitter footer-contact";
    text-align: center;
    align-items: center;
}

.footer__toTop {
    grid-area: footer-toTop;

    a{
        color: white;
        font-size: $header5;
    }
  }
  
  .footer__contact {
    grid-area: footer-contact;

    a{
        color: white;
        font-size: $header5;
    }
  }
  
  .footer__fb {
    grid-area: footer-fb;
    }
  
  .footer__insta {
    grid-area: footer-insta;
  }
  
  .footer__youtube {
    grid-area: footer-youtube;
  }
  
  .footer__twitter {
    grid-area: footer-twitter;
  }