* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body,input,textarea {
  font-family: "Raleway", sans-serif;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
h1,h2,h3,h4,h5,button,a{
  text-transform: uppercase;
}
@font-face {
  font-family: WMfont;
  src: url('/OnedayFF/ONEDAY.ttf');
}
a {
  text-decoration: none;
  cursor: pointer;
}
@keyframes gradient {
  0% {
		background-position: 0% 0%;
	}
  35% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes sides{
  0% {
		border: 1px inset white;
	}
  35% {
    border: 1px inset $teal;

	}
	50% {
    border: 1px inset rgb(139, 255, 230);

	}
	100% {
    border: 1px inset rgb(166, 255, 185);
	}
}



