.news__section{
    background: $black__BG;
    min-height: 50vh;

    h3{
        color: $teal;
        font-size: $header4;
        padding: 1rem 0;
    }
    p{
        color: $white;
        font-size: $header5;
        padding: 1rem 0;
        text-align: justify;
        margin-bottom: 2rem;
    }
}