.music__section {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/epNoText.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //min-height: 50vh;
}
.music__container {
  height: 60vh;
  margin: 2rem auto;
  //background: yellow;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem 0;
  transition: all 2s ease-in-out;

}
.song1__display{
  grid-template-areas:
    "song__item2 song__item3 song__item4"
    "song__item1 song__item1 song__item1"
    "song__item1 song__item1 song__item1";
}
.song2__display{
  grid-template-areas:
  "song__item1 song__item3 song__item4"
  "song__item2 song__item2 song__item2"
  "song__item2 song__item2 song__item2";
}
.song3__display{
  grid-template-areas:
  "song__item1 song__item2 song__item4"
  "song__item3 song__item3 song__item3"
  "song__item3 song__item3 song__item3";
}
.song4__display{
  grid-template-areas:
  "song__item1 song__item2 song__item3"
  "song__item4 song__item4 song__item4"
  "song__item4 song__item4 song__item4";
}
.song__item1 {
  grid-area: song__item1;

  background: url('/images/moon.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.song__item2 {
  grid-area: song__item2;
  
  background: url('/images/P2P_ARTWORK.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.song__item3 {
  grid-area: song__item3;
  
  background: url('/images/tree.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.song__item4 {
  grid-area: song__item4;
  
  background: url('/images/brothers.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
