.video__section {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/gallery/band_photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
}

.video__item{
  width: 95%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
 // background: rgb(201, 201, 201);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5), 0px -2px 5px rgba(255, 255, 255, 0.5);


  iframe{
    //border: 1px solid white;
    border-radius: 1rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.74);
  }
}
.video__button{
  background: seagreen;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.74);
  //border: 1px solid white;
}
.video__title{
  color: white;
  padding: 2rem 1rem;
  font-size: $header5;
  letter-spacing: 2px;
}
.video__arrow{
  color: white;
  padding:0 1rem;
  span{
    overflow: hidden;
  }
}
