.about__section{
    background: $black__BG;
    //min-height: 50vh;

    p{
        color: $white;
        font-size: $header5;
        padding: 1rem 0;
        text-align: justify;
        margin-bottom: 2rem;
    }
}
.about__image{
    width: 100%;
    margin-bottom: 2rem;
    img{
        width: 100%;
        height: auto;
    }
}