.gallery__navbar {
    min-height: 8vh;
    background:$blue2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  
    h3 {
      padding: 0.25rem;
      font-size: $header4;
      color: white;
      font-family: WMfont,"Raleway", sans-serif;
      letter-spacing: 2px;
    }
    span {
      vertical-align: middle;
    }
    a {
      padding: 0.25rem;
      vertical-align: middle;
      font-size: $header6;
      color: white;
    }
  }
   
  .gallery-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 0px 0px;
      background: $grey2;
      grid-template-areas:
        "gallery__item1"
        "gallery__item2"
        "gallery__item3"
        "gallery__item4"
        "gallery__item5"
        "gallery__item6"
        "gallery__item7"
        "gallery__item8";
    }
    .gallery__tile{
        min-height: 30vh;
        width: 90%;
        padding: 1rem;
        margin: 0.75rem auto;
        position: relative;
        box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.5), -5px -5px 5px rgba(0, 0, 0, 0.1);
        animation: siteFade 3s;
  
    }
    .gallery__text{
        position: absolute;
        top: 0;
        right: 0;
        background: $grey2;
        font-size: $header6;
        padding: 0.25rem 2rem;
        border-radius:0% 100% 0% 100% / 70% 0% 100% 30%;
    }
    .gallery__item1 { 
        grid-area: gallery__item1;
        background: url('/images//band_photo.jpg');
  
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       }
    .gallery__item2 { 
        grid-area: gallery__item2; 
        background: url('/images/live-2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    .gallery__item3 { 
        grid-area: gallery__item3;
        background: url('/images/live-3.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       }
    .gallery__item4 { 
        grid-area: gallery__item4;
        background: url('/images/gallery/pic5.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       }
    .gallery__item5 {
         grid-area: gallery__item5; 
         background: url('/images/gallery/live-1.jpg');
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
      }
    .gallery__item6 { 
        grid-area: gallery__item6; 
        background: url('/images/gallery/pic6.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    .gallery__item7 {
         grid-area: gallery__item7;
         background: url('/images/gallery/pic7.jpg');
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
       }
    .gallery__item8 { 
        grid-area: gallery__item8; 
        background: url('/images/gallery/pic8.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }