$header: 3rem;
$header1: 2.5rem;
$header2: 2.2rem;
$header3: 2rem;
$header4: 1.8rem;
$header5: 1.4rem;
$header6: 1.2rem;

$text:1.3rem;
$text1:1rem;
$text2:0.8rem;
$text3:0.6rem;

$white:white;
$black__BG: black;

$grey:rgb(156, 156, 156);
$grey1: #f2f2f2;
$grey2: #e2e2e2;

$blue: rgb(16, 126, 177);
$blue2: #00456a;
$darkBlue: #051937;

$grey: #737687;
$teal: #007789;
$yellow:#f9f871;

$lightgreen: #7ed57b;
$darkgreen: #00a88c;

$red: rgb(136, 9, 37);
$darkred: rgb(105, 12, 33);

$aqua: rgb(0, 238, 255);
$darkaqua: rgb(7, 189, 202);

$longtransition: all 500ms ease-in-out;
$transition: all 200ms ease-in-out;
$transition3: grid-template-columns 350ms ease-in-out;