* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body, input, textarea {
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, button, a {
  text-transform: uppercase;
}

@font-face {
  font-family: WMfont;
  src: url("/OnedayFF/ONEDAY.ttf");
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
}

.section__header {
  min-height: 5vh;
  text-align: center;
}

.section__header h2 {
  padding: 1.5rem 0;
  font-size: 2.5rem;
  color: white;
}

.text__line {
  width: 90%;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.text__line:before,
.text__line:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 40%;
}

.text__line:before {
  right: 0.5em;
  margin-left: -50%;
}

.text__line:after {
  left: 0.5em;
  margin-right: -50%;
}

.fa {
  font-size: 3rem;
  color: white;
}

.button1 {
  background: none;
  font-size: 1.8rem;
  padding: 0.5rem 2rem;
  outline: none;
  border: 2px solid white;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
}

.button2 {
  background: #007789;
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
  padding: 0.75rem;
  border: 1px solid white;
  position: relative;
}

.button2 a {
  font-size: 1rem;
  letter-spacing: 2px;
  color: white;
}

.flex-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.landing__section {
  min-height: 100vh;
  text-align: center;
}

.EP__header {
  min-height: 52vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("/images/epNoText.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/epNoText.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.EP__header h1 {
  padding: 1rem;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.EP__header h3 {
  padding: 0.5rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.wm__title {
  background: black;
  color: white;
  border-top: 1px solid white;
  position: relative;
}

.wm__title h3 {
  font-size: 3rem;
  padding: 1rem;
  font-family: WMfont,"Raleway", sans-serif;
  letter-spacing: 4px;
}

.site__navigation {
  background: black;
  position: static;
  width: 100%;
  height: 0vh;
  border-bottom: 1px solid white;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.site__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2rem;
  font-family: WMfont,"Raleway", sans-serif;
  letter-spacing: 2px;
}

.site__navigation ul a {
  color: white;
}

.site__navigation__open {
  height: 35vh;
  border-bottom: 1px solid white;
}

.social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 300ms ease-in-out 500ms;
  transition: all 300ms ease-in-out 500ms;
}

.social__links__open {
  width: 80%;
}

.P2P__video__header {
  min-height: 42vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/images/video__official.png");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/video__official.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.P2P__video__header h1 {
  padding: 1rem;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.P2P__video__header h3 {
  padding: 0.5rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.header__burger {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.header__burger span {
  padding: 0.1rem 1.5rem;
  margin: 0.3rem 0rem;
  border-radius: 2rem;
  background: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
  background: #7a7a7a;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
  background: #7a7a7a;
}

.news__section {
  background: black;
  min-height: 50vh;
}

.news__section h3 {
  color: #007789;
  font-size: 1.8rem;
  padding: 1rem 0;
}

.news__section p {
  color: white;
  font-size: 1.4rem;
  padding: 1rem 0;
  text-align: justify;
  margin-bottom: 2rem;
}

.music__section {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("/images/epNoText.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/epNoText.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.music__container {
  height: 60vh;
  margin: 2rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem 0;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.song1__display {
      grid-template-areas: "song__item2 song__item3 song__item4" "song__item1 song__item1 song__item1" "song__item1 song__item1 song__item1";
}

.song2__display {
      grid-template-areas: "song__item1 song__item3 song__item4" "song__item2 song__item2 song__item2" "song__item2 song__item2 song__item2";
}

.song3__display {
      grid-template-areas: "song__item1 song__item2 song__item4" "song__item3 song__item3 song__item3" "song__item3 song__item3 song__item3";
}

.song4__display {
      grid-template-areas: "song__item1 song__item2 song__item3" "song__item4 song__item4 song__item4" "song__item4 song__item4 song__item4";
}

.song__item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: song__item1;
  background: url("/images/moon.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.song__item2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: song__item2;
  background: url("/images/P2P_ARTWORK.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.song__item3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: song__item3;
  background: url("/images/tree.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.song__item4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: song__item4;
  background: url("/images/brothers.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.video__section {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("/images/gallery/band_photo.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/gallery/band_photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
}

.video__item {
  width: 95%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5), 0px -2px 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5), 0px -2px 5px rgba(255, 255, 255, 0.5);
}

.video__item iframe {
  border-radius: 1rem;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.74);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.74);
}

.video__button {
  background: seagreen;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.74);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.74);
}

.video__title {
  color: white;
  padding: 2rem 1rem;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.video__arrow {
  color: white;
  padding: 0 1rem;
}

.video__arrow span {
  overflow: hidden;
}

.gig__section {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("/images/live-1.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/live-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gigs__message {
  text-align: center;
  padding: 1rem;
  color: #fc0000;
  text-decoration: underline;
  font-size: 1.2rem;
}

.gig__container {
  width: 90%;
  margin: 1rem auto;
  color: white;
}

.gig__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2rem;
}

.gig__date {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 0.5rem;
}

.gig__date span {
  font-size: 2rem;
}

.gig__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gig__content span {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.gig__free {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 0.55rem;
  top: 0%;
  left: 0%;
  background: seagreen;
}

.gigs__more__container {
  position: static;
  overflow: hidden;
  height: 0vh;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.gigs__more__container__open {
  height: 32vh;
}

.about__section {
  background: black;
}

.about__section p {
  color: white;
  font-size: 1.4rem;
  padding: 1rem 0;
  text-align: justify;
  margin-bottom: 2rem;
}

.about__image {
  width: 100%;
  margin-bottom: 2rem;
}

.about__image img {
  width: 100%;
  height: auto;
}

.contact__section {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/images/logo.png");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form__container {
  width: 100%;
  margin: auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.932);
  padding: 1rem;
  margin-bottom: 3rem;
  border: 2px solid #007789;
}

.form__container h4 {
  padding: 1rem;
  margin-bottom: 1rem;
  color: #007789;
  font-size: 1.4rem;
}

.form__container input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px #9c9c9c solid;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.form__container input:focus {
  border: 2px solid #007789;
}

.form__container input::-webkit-input-placeholder {
  font-size: 1.8rem;
}

.form__container input:-ms-input-placeholder {
  font-size: 1.8rem;
}

.form__container input::-ms-input-placeholder {
  font-size: 1.8rem;
}

.form__container input::placeholder {
  font-size: 1.8rem;
}

.form__container textarea {
  width: 100%;
  padding: 1rem;
  resize: vertical;
  margin-bottom: 1rem;
  outline: none;
  border: 1px #9c9c9c solid;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.form__container textarea:focus {
  border: 2px solid #007789;
}

.form__container textarea::-webkit-input-placeholder {
  font-size: 1.8rem;
}

.form__container textarea:-ms-input-placeholder {
  font-size: 1.8rem;
}

.form__container textarea::-ms-input-placeholder {
  font-size: 1.8rem;
}

.form__container textarea::placeholder {
  font-size: 1.8rem;
}

.form__container button {
  color: white;
  padding: 1rem;
  font-size: 1.4rem;
}

.footer__section {
  background: #00456a;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 0.5fr 1fr;
      grid-template-columns: 0.5fr 0.5fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  height: 12vh;
  gap: 0px 0px;
      grid-template-areas: "footer-fb footer-insta footer-toTop" "footer-youtube footer-twitter footer-contact";
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__toTop {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: footer-toTop;
}

.footer__toTop a {
  color: white;
  font-size: 1.4rem;
}

.footer__contact {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: footer-contact;
}

.footer__contact a {
  color: white;
  font-size: 1.4rem;
}

.footer__fb {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: footer-fb;
}

.footer__insta {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: footer-insta;
}

.footer__youtube {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: footer-youtube;
}

.footer__twitter {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: footer-twitter;
}

.gallery__navbar {
  min-height: 8vh;
  background: #00456a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gallery__navbar h3 {
  padding: 0.25rem;
  font-size: 1.8rem;
  color: white;
  font-family: WMfont,"Raleway", sans-serif;
  letter-spacing: 2px;
}

.gallery__navbar span {
  vertical-align: middle;
}

.gallery__navbar a {
  padding: 0.25rem;
  vertical-align: middle;
  font-size: 1.2rem;
  color: white;
}

.gallery-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  background: #e2e2e2;
      grid-template-areas: "gallery__item1" "gallery__item2" "gallery__item3" "gallery__item4" "gallery__item5" "gallery__item6" "gallery__item7" "gallery__item8";
}

.gallery__tile {
  min-height: 30vh;
  width: 90%;
  padding: 1rem;
  margin: 0.75rem auto;
  position: relative;
  -webkit-box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.5), -5px -5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.5), -5px -5px 5px rgba(0, 0, 0, 0.1);
  -webkit-animation: siteFade 3s;
          animation: siteFade 3s;
}

.gallery__text {
  position: absolute;
  top: 0;
  right: 0;
  background: #e2e2e2;
  font-size: 1.2rem;
  padding: 0.25rem 2rem;
  border-radius: 0% 100% 0% 100% / 70% 0% 100% 30%;
}

.gallery__item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: gallery__item1;
  background: url("/images//band_photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__item2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: gallery__item2;
  background: url("/images/live-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__item3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: gallery__item3;
  background: url("/images/live-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__item4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: gallery__item4;
  background: url("/images/gallery/pic5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__item5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: gallery__item5;
  background: url("/images/gallery/live-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__item6 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: gallery__item6;
  background: url("/images/gallery/pic6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__item7 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: gallery__item7;
  background: url("/images/gallery/pic7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__item8 {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: gallery__item8;
  background: url("/images/gallery/pic8.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */